@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  section {
    @apply py-4 px-2 space-y-4;
  }
  /* main {
    @apply 
  } */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  font-size: larger;
  font-family: 'Alata', sans-serif;
}

input,
textarea {
  -webkit-box-shadow: 0 0 0 1px rgb(209 213 219) inset;
  -moz-box-shadow: 0 0 0 1px rgb(209 213 219) inset;
  box-shadow: 0 0 0 1px rgb(209 213 219) inset;
  --tw-ring-inset: inset;
  outline: none;
}

input:focus {
  -webkit-box-shadow: 0 0 0 2px rgb(88 63 188) inset;
  -moz-box-shadow: 0 0 0 2px rgb(88 63 188) inset;
  box-shadow: 0 0 0 2px rgb(88 63 188) inset;
  --tw-ring-inset: inset;
}

#header:focus {
  outline: none;
}

:root {
  --shine-width: 382px; /* Default value */
}
@media (min-width: 1280px) {
  :root {
    --shine-width: 212px;
  }
}

.shine-text {
  background-color: hsl(252, 50%, 49%); /* Add this line for a purple background */
  background: hsl(252, 50%, 49%);
}

.shine-text:hover {
  background-clip: text; /* Ensure background clips to text */
  -webkit-background-clip: text; /* For webkit browsers */
  background: linear-gradient(to right, hsl(252, 50%, 49%) 0, rgb(107, 79, 219) 0%, hsl(252, 50%, 49%) 100%);
  animation: shine 2s ease-out forwards;
}

@keyframes shine {
  0% {
    background-position: left;
  }
  100% {
    background-position: var(--shine-width);
  }
}

#dropdown-item {
  color: rgb(3, 105, 161);
}
#dropdown-item:hover {
  color: white;
}
